doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lsys_drawing.js')
    script(src='/javascripts/lsystem.js')
  body
    block content
