extends layout

block content
  h1 L-System Drawing

  p
    a(href="/") Back

  #lsys_regen
    form(name="lsys_regen_form")
      .field
        label(for="start_x") Start X
        input(name="start_x", type="text")
      .field
        label(for="start_y") Start Y
        input(name="start_y", type="text")
      .field
        label(for="iterations") Iterations
        input(name="iterations", type="text")
      .field
        input.btn(type="submit", value="Regenerate")

  canvas(id="lsys_canvas", name="lsys_canvas", height="800", width="800")

  script.
    var canvas = document.getElementById('lsys_canvas')
    var context = canvas.getContext('2d')
    var lsys = !{JSON.stringify(lsys)};
    lsys_draw(400, 400, context, lsys)
