body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

#lsys_form_box
  border 1px solid black
  float left;
  margin-right 2em;
  form
    margin 1em

#lsys_canvas
  border 1px solid black

table
  border 1px solid black
td
  border 1px solid black
