body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

input_width = 32em
top_bottom_margin = 10px
#lsys_form_box
  border 1px solid black
  float left;
  margin-right 2em;
  form
    margin 1em
    .field
      margin-top top_bottom_margin
      margin-bottom top_bottom_margin
    input
      width input_width
    textarea
      width input_width

#lsys_canvas
  border 1px solid black

table
  border 1px solid black
td
  border 1px solid black
