extends layout

block content
  h1 Barnsley Fern

  canvas(id="barnsley_canvas", height="800", width="800")

  script.
    var canvas = document.getElementById('barnsley_canvas');
    var context = canvas.getContext('2d');
    barnsley(400, 100, context);
