doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lsys_drawing.js')
    script(src='/javascripts/lsystem.js')
    script(src='/javascripts/barnsley.js')
  body
    nav
      ul
        li
          a(href="/") L-Systems
        li
          a(href="/barnsley_fern") Barnsley Fern
    block content
    footer
      p
        | Copyright &copy; 2013 David Jackson
