body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

input_width = 32em
top_bottom_margin = 10px
#lsys_form_box
  border 1px solid black
  border-radius 10px
  float left;
  margin-right 2em;
  form
    margin 1em
    .field
      margin-top top_bottom_margin
      margin-bottom top_bottom_margin
    input
      width input_width
    textarea
      width input_width

#lsys_canvas
  border 1px solid black

table
  border-radius 10px
  border 1px solid black
  border-spacing 10px
td
  padding 5px

#common_lsystems
  float left
  ul
    padding 0
    li
      list-style none

.btn
  border: 1px solid #3366FF
  margin: 3px
  border-radius 8px
  text-decoration none
  padding 10px
  display inline-block
  background-color white
  color #3366FF
  &:hover
    background-color #3366FF
    color white

#lsys_regen
  margin 1em
  form
    border 1px solid black
    border-radius 7px
    .field
      display inline
      margin 3px

nav
  ul
    list-style: none
    li
      display inline-block
      margin: 3px
      a
        padding 10px
        border 1px solid black
        border-radius 8px
        text-decoration none
        color black
        &:hover
          color white
          background-color black
